<div class="nav-scrollable">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door-fill me-2"></i> Home
        </NavLink>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase">
            <span>Admin</span>
        </h6>
        <NavLink class="nav-link" href="admin/dashboard">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </NavLink>
        <NavLink class="nav-link" href="admin/employees">
            <i class="bi bi-people-fill me-2"></i> Employees
        </NavLink>
        <NavLink class="nav-link" href="admin/departments">
            <i class="bi bi-building-fill me-2"></i> Departments
        </NavLink>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase">
            <span>Dept. Chief</span>
        </h6>
        <NavLink class="nav-link" href="chief/dashboard">
            <i class="bi bi-person-workspace me-2"></i> Dashboard
        </NavLink>
        <NavLink class="nav-link" href="chief/my-department">
            <i class="bi bi-building me-2"></i> My Dept
        </NavLink>
        <NavLink class="nav-link" href="chief/team">
            <i class="bi bi-people me-2"></i> My Team
        </NavLink>
    </nav>
</div>

